@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Trade+Winds&display=swap');


#home-content #blog-content #content {
    max-width: 1200;
    margin: 0 auto;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 75px;
    height: 75px;
    padding: 10px;

}

header{
    background-color: #cecece;
    display: grid;
    grid-template-columns: 150px auto;
    
   
}

nav a:hover{
    background-color: black;
    color: white;
    font-size: large;
}

nav{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-family: 'IM Fell English SC', Trade Winds, cursive, 'Times New Roman', Times, serif
}

#banner_msg h1, h2{
    text-align:center;
    font-family: Trade Winds, cursive;
    color: #9a4c95;
}


body{
    background-color: #cecece;
}

.home-page{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    
  
}

.home-msg{
    line-height: 1.5em;
    background-color: #9a4c95;
    text-align: center;
    padding: 35px;
    margin: auto;
    color: white;
    
      
}

.home-msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
    margin: auto;
    font-family: 'IM Fell English SC', 'Trade Winds', 'Times New Roman', Times, serif

}
footer{
    background-color:#9691b3;
    color:white;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: white;
}




.book-info{
    border-style: double;
    grid-column: 1/2;
    display: grid;
    justify-items: center;
    justify-self: center;
    width: 100%;
    font-size: 2em;
    font-family: 'Trade Winds';
    background-color: #9a4c95;
    color: white;
    
    
    
 
  }

  .book-link{
    border-style: double;
    grid-column: 1/5;
    margin:auto;
    font-size: 1.5em;
    background-color: #9a4c95;
    color: white;
    font-family: 'Trade Winds';
    
  }

.book-page{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;

   
    
    
}

.booknow-img{
     padding: 5px;
     grid-column: 2/3;
     display: grid;
     justify-items: center;
     justify-self: center;
     grid-row: auto;
    
}

.wave-img{
    grid-column: 3/5;
    margin: auto;
    display: grid;
    justify-items: center;
    justify-self: center;
    
}

.playlistintro{
    grid-column: 1/4;
    font-family: 'IM Fell English SC';
    color: #9a4c95;   
    justify-content: center;
    justify-self: center;
   
    
}



.house{
    grid-column: 1/2;
}

.dubstep{
    grid-column: 1/2;
    
}




.house, .ambient, .trance, .dubstep, .bigroom, .trap {
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: #9a4c95;
}

.house h5, .ambient h5, .trance h5, .dubstep h5, .bigroom h5, .trap h5{
   color: purple;
   font-size: large;
   font-family: 'Trade Winds';
}



